@import "bourbon/bourbon";
// @import "base/base";

@charset "utf-8";

$color-text-light: #bababa;
$color-gray-dark: #333;
$color-gray-medium: #282828;

$color-body-bg: $color-gray-dark;

%label {
	color: $color-text-light;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 0.875em;
	font-weight: 300;
}



body {
	font-family: 'Open Sans', sans-serif;
	background-color: $color-body-bg;
	padding: 3em 0;
}

select {
	background-color: $color-gray-medium;
	border: none;
	color: $color-text-light;
}

label {
	display: block;
	@extend %label;
}

table {
	border-spacing: 0.75em;
  border-collapse: separate;
  margin: 0 auto;
}

th {
	@extend %label;
	text-align: right;
}

td {
	@include transition(background-color, 0.1s);
	background-color: #3D464C;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 25px;
	&:hover {
		background-color: darken(#3D464C, 3%);
	}
}

input[type="checkbox"] {
	margin-right: 0.5em;
}


.sequencer {
	td{
		background-color: #2F2F2F;
	}
	.on {
		background-color: #111;
	}
}

.hihat {
	.on {
		background-color: blueviolet;
	}
}

.kick {
	.on {
		background-color: #3133E8;
	}
}

.snare {
	.on {
		background-color: #2A6C1C;
	}
}

.controls {
	td {
		background-color: transparent;
	}
}

