<ul class="kick">
	<li rel="1"></li>
	<li rel="2"></li>
	<li rel="3"></li>
	<li rel="4"></li>	
	<li rel="5"></li>
	<li rel="6"></li>
	<li rel="7"></li>
	<li rel="8"></li>	
	<li rel="9"></li>
	<li rel="10"></li>
	<li rel="11"></li>
	<li rel="12"></li>	
	<li rel="13"></li>
	<li rel="14"></li>
	<li rel="15"></li>
	<li rel="16"></li>	
</ul>

<ul class="hihat">
	<li rel="1"></li>
	<li rel="2"></li>
	<li rel="3"></li>
	<li rel="4"></li>	
	<li rel="5"></li>
	<li rel="6"></li>
	<li rel="7"></li>
	<li rel="8"></li>	
	<li rel="9"></li>
	<li rel="10"></li>
	<li rel="11"></li>
	<li rel="12"></li>	
	<li rel="13"></li>
	<li rel="14"></li>
	<li rel="15"></li>
	<li rel="16"></li>	
</ul>

<ul class="sequencer">
	<li id="beat1"></li>
	<li id="beat2"></li>
	<li id="beat3"></li>
	<li id="beat4"></li>	
	<li id="beat5"></li>
	<li id="beat6"></li>
	<li id="beat7"></li>
	<li id="beat8"></li>	
	<li id="beat9"></li>
	<li id="beat10"></li>
	<li id="beat11"></li>
	<li id="beat12"></li>	
	<li id="beat13"></li>
	<li id="beat14"></li>
	<li id="beat15"></li>
	<li id="beat16"></li>	
</ul>

<audio id="hihat-sound" src="/audio/hi-hat.wav" preload="auto"></audio>
<audio id="kick-sound" src="/audio/kick.wav" preload="auto"></audio>

