<div class="container">
	<ul class="kick">
	</ul>

	<ul class="hihat">
	</ul>

	<ul class="sequencer">
		<li id="beat0"></li>
		<li id="beat1"></li>
		<li id="beat2"></li>
		<li id="beat3"></li>
		<li id="beat4"></li>	
		<li id="beat5"></li>
		<li id="beat6"></li>
		<li id="beat7"></li>
		<li id="beat8"></li>	
		<li id="beat9"></li>
		<li id="beat10"></li>
		<li id="beat11"></li>
		<li id="beat12"></li>	
		<li id="beat13"></li>
		<li id="beat14"></li>
		<li id="beat15"></li>
	</ul>

	<label>bpm
		<select id="set-bpm">
			<option val="120">120</option>
			<option val="140">140</option>
			<option val="160">160</option>
			<option val="180">180</option>
			<option val="200">200</option>
		</select></label>

</div>

<audio id="hihat-sound" src="/audio/hi-hat.wav" preload="auto"></audio>
<audio id="kick-sound" src="/audio/kick.wav" preload="auto"></audio>

